@import "primevue/resources/themes/md-dark-indigo/theme.css";
@import "primeicons/primeicons.css";

@import "theme";

body {
	font-family: var(--body-font);
	background: var(--body-background);

	margin: 0;
	padding: 0;
}

#app {
	width: 100vw;
	height: 100vh;
}
